*{
    padding: 0;
    margin: 0;
}
.commodityShow{
    width: 1200px;
    margin:  0 auto;
    display: flex;
}
.commodityShow>div{
    width: 50%;
}
.commodityShow ul{
    list-style: none;
    display: flex;
}
.commodityShow li img{
    width: 60px;
    margin-right: 20px;
}


.container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin:  0 auto;
}
.container .cell{
    margin: 10px;
    width: calc((100% - 100px) / 5);
    text-align: center;
}
.container .cell img{
    width: 80%;
}
.container .cell p:nth-child(3){
    display: flex;
    justify-content: space-between;
    padding:0 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

form{
    width: 400px;
    margin:  0 auto;
}
button{
    display: block !important;
    margin: 0 auto !important;
}

input::placeholder{
    font-size: 14px;
}



/* 
    前端：页面(向后端发请求）
        注册：前端发请求携带 帐号密码。 后端接受请求，将账号密码存入数据库；
        登录：前端发请求携带 帐号密码。 后端接受请求，先将帐号与数据库中的帐号进行匹配，如匹配不成功返回数据给前端。code:0      如果帐号存在，判断密码是否正确，如不正确返回数据给前端。code:1     如果帐号和密码都正确，返回code:2;  前端准备跳转页面。
                0 帐号不存在
                1 密码错误
                2 登录成功

        登录注册需要在前端进行正则验证，验证通过发请求。
    后端：设计数据库，搭建服务器。

*/