header {
    height: 200px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .4);
    display: flex !important;
    align-items: center;
    margin-bottom: 20px;
}

header>ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    list-style: none;
}

header div {
    display: flex;
}

header li {
    margin: 0 20px;
    margin-top: 70px;

}
header li:hover{
    border-bottom: 2px solid hotpink;
 
}

* {
    margin: 0;
    padding: 0;
}

ul>img {
    width: 200px;
    height: 100px;
    /* border: 1px solid; */
    margin-top: -40px;
    position: absolute;

}
